@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Itim&family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --one-color: rgb(250, 0, 0);
    --two-color: rgb(0, 115, 255);
    --one-piece: rgb(230, 63, 63);
    --two-piece: rgb(55, 121, 221);
    --river-color: rgb(80, 211, 255);
}

body {
    margin: 0;
    padding: 0;
    /* background-color: bisque; */
    font-family: 'Aleo', serif;
    display: flex;
    justify-content: center;
    background-color: rgb(253, 221, 151);
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
}

ol,
ul {
    list-style: none;
}

#app {
    display: flex;
    flex-direction: column;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 0 0 8px grey;
    margin: 2rem 0 0;
}

.row {
    display: flex;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: block;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    width: 50%;
}

.box {
    height: 3.75rem;
    width: 3.75rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(166, 223, 33);
    /* color: white; */
    font-size: 3rem;
    border: 2px solid white;
}

.box.turn {
    box-shadow: 0 0 6px black;
    border: 2px solid black;
    padding: 5px;
}

.box.terrain {
    font-size: 1rem;
    color: white;
}

.hover:hover {
    opacity: .7;
}

.selected {
    transform: translateY(-10px);
    box-shadow: 0 3px 19px 3px rgba(51, 51, 51, 0.5);
}

.river {
    background-color: blue;
}

.score-box {
    display: flex;
    justify-content: space-between;
    /* margin: 2rem; */
    width: 100%;
    position: relative;
}

.turn-box {
    font-weight: 800;
    font-size: 1.25rem;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
}

.playerone-box,
.playertwo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerone-box h2 {
    background-color: var(--one-piece);
    border-radius: 0px 0px 50px 0px;
    padding: .5rem 2rem 1rem .5rem;
}

.playertwo-box h2 {
    background-color: var(--two-piece);
    border-radius: 0px 0px 0px 50px;
    padding: .5rem .5rem 1rem 2rem;
}

.game-over-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 2rem 0;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 80%;
    max-width: 450px;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}

.game-over-modal p {
    margin: 1rem;
    font-size: 1.25rem;
    text-align: center;
}

.game-over-modal h3 {
    font-size: 1.5rem;
}

.game-over-modal .close-btn {
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    color: white;
    background-color: var(--one-color);
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    transition: .2s;
    border: 1px solid var(--one-color);
    margin-top: auto;
}

.game-over-modal .close-btn:hover {
    color: var(--one-color);
    background-color: white;
}

.shadow {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, .4);
}

.iconfont {
    pointer-events: none;
    font-size: 3rem !important;
}

.iconfont {
    font-size: 2rem;
}

.legal::before {
    font-family: "iconfont" !important;
    content: "\e608";
    position: absolute;
    z-index: 999;
    font-weight: 800;
    font-size: 2.75rem;
    color: white !important;
}

@media screen and (max-width: 567px) {
    .main-container {
        justify-content: space-between;
    }

    .box {
        height: 3.25rem;
        width: 3.25rem;
        font-size: 2.5rem;
    }

    .iconfont {
        pointer-events: none;
        font-size: 2.5rem !important;
    }
}